<mat-accordion multi="true" class="side-bar scrollbar">
  <mat-expansion-panel expanded="true" *ngFor="let group of groups">
    <mat-expansion-panel-header expandedHeight="36px" collapsedHeight="36px">
      <mat-panel-title>
        <span class="title">{{group.name}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let item of group.list">
        <a [routerLink]="getUrl(group, item)" routerLinkActive="active">{{item.name}}</a>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
