<mat-card>
  <mat-card-header>
    <h3 class="mat-h3">Basic {{component.name}}</h3>
    <span fxFlex="1 1 auto"></span>
    <mat-icon (click)="toggleSourceCode()">code</mat-icon>
  </mat-card-header>
  <mat-card-content fxLayout="column">

    <ng-container *ngIf="sourceCode">
      <mat-tab-group fxFlex="1 1 auto">
        <mat-tab label="UI Model">
          <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="component.example"></ngx-monaco-editor>
        </mat-tab>
        <mat-tab label="Action" disabled></mat-tab>
      </mat-tab-group>
      <mat-divider></mat-divider>
    </ng-container>

    <dc-ui-selector
      [uiModel]='uiModel'
      [dataModel]='{}'
      [actions]='actions'></dc-ui-selector>

  </mat-card-content>
</mat-card>
