@import '~@angular/material/theming';

$app-primary: mat-palette($mat-grey);
$app-accent:  mat-palette($mat-light-blue);
$app-warn:    mat-palette($mat-pink);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$active: mat-color(mat-palette($mat-indigo));

$gray: mat-color(mat-palette($mat-grey, 200));
$lightGray: mat-color(mat-palette($mat-grey, 50));
$darkGray: mat-color(mat-palette($mat-grey, A400));

$text: rgba(0, 0, 0, .5);

$panelMargin: 25px;
$staticSpace: 25px;
