@use '@angular/material' as mat;

$app-primary: mat.define-palette(mat.$grey-palette);
$app-accent:  mat.define-palette(mat.$light-blue-palette);
$app-warn:    mat.define-palette(mat.$pink-palette);

$primary: mat.get-color-from-palette($app-primary);
$accent: mat.get-color-from-palette($app-accent);
$warn: mat.get-color-from-palette($app-warn);

$active: mat.get-color-from-palette(mat.define-palette(mat.$indigo-palette));

$gray: mat.get-color-from-palette(mat.define-palette(mat.$grey-palette, 200));
$lightGray: mat.get-color-from-palette(mat.define-palette(mat.$grey-palette, 50));
$darkGray: mat.get-color-from-palette(mat.define-palette(mat.$grey-palette, A400));

$text: rgba(0, 0, 0, .5);

$panelMargin: 25px;
$staticSpace: 25px;
