@import '_vars';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.scrollbar::-webkit-scrollbar {
  width: 4px;
  background: $gray;
}

.scrollbar::-webkit-scrollbar-thumb{
  background:$darkGray;
}

.static-padding {
  padding: $staticSpace;
}

.dc-element.hidden,
.dc-wrapper.hidden {
  display: none !important;
}
